.search-bar {
	margin-bottom: 24px;
}

.sample-text {
	color: #898989;
}

.food-section-title, .empty-results {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	color: #cccccc;
	margin-top: 18px;
}

.food-item {
	margin: 12px 0;
	padding: 8px;
	font-size: 18px;
	line-height: 22px;
	cursor: pointer;
	transition: background-color 0.5s;
	border-radius: 2px;
}

.food-item:hover {
	background-color: #A6D785;
}

.food-item > span {
	vertical-align: middle;
}

.food-item-adder {
	outline: none;
	color: #458B00;
}

.meal-pnl {
	position: fixed;
	width: 370px;
}

.meal-title {
	font-weight: bold;
	font-size: 18px;
}

.meal-item {
	font-size: 12px;
	margin: 8px 0px;
	padding: 5px;
	cursor: pointer;
	transition: 0.5s;
	border-radius: 2px;
	outline: none;
}

.meal-item:hover {
	background-color: #343434;
	color: white;
}

.meal-item:hover .meal-item-ops .op {
	color: white;
}

.meal-item-title {
	margin-bottom: 4px;
}

.meal-item-ops {
	border-top: 1px dotted #cccccc;
	text-align: right;
}

.meal-item-ops .op {
	font-size: 8px;
	text-transform: uppercase;
	color: #343434;
}

.meal-empty {
	margin: 12px 0;
}

.meal-metrics {
	border-top: 1px solid #cccccc;
	margin-top: 8px;
	padding-top: 8px;
}

.meal-pnl .meal-ops {
	border-top: 1px solid #cccccc;
	margin-top: 8px;
	padding-top: 8px;
	text-align: right;
}

.all-meals-list .meal-header {
	margin: 4px 0;
	padding: 4px 0;
	border-bottom: 1px solid #343434;
}

.all-meals-list .meal-header .meal-title {
	font-size: 24px;
	color: #343434;
}

.all-meals-list .meal-header .meal-ops {
	padding-top: 8px;
}

.all-meals-list .meal-header .meal-ops .op {
	text-transform: uppercase;
}

.all-meals-list-ops {
	border-top: 1px solid #cccccc;
	background-color: #ededed;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 12px;
	text-align: center;
}

.all-meals-list-ops .sep {
	color: white;
	margin-left: 8px;
	margin-right: 8px;
}

.meal-score-icon {
	max-width: 200px;
	display: inline-block;
}

.meal-score-desc {
	display: inline-block;
	max-width: 240px;
	font-size: 18px;
	padding: 12px;
	margin-left: 15px
}