<div class="row">
	<div class="col-md-7">
		<div class="row">
			<div class="search-bar col-md-12">
				<form name="search-form" ng-submit="doSearch()">
					<!--
					<input type="search" class="form-control" name="search" ng-model="search.food_name" placeholder="Search for...">
					-->
					<div class="input-group">
				      <input type="search" class="form-control" name="search" ng-model="searchTerm" placeholder="Search for food and drinks like chicken, apple or juice">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button" ng-click="doSearch()">
				        	<i class="fa fa-search"></i>
				        </button>
				      </span>
				    </div>
				</form>
			</div>
			<div class="col-md-12">
				<food-section section="foods.meat" section-title="Meat"></food-section>
				<food-section section="foods.fish" section-title="Fish"></food-section>
				<food-section section="foods.eggs" section-title="Eggs"></food-section>
				<food-section section="foods.sweets" section-title="Sweets"></food-section>
				<food-section section="foods.baked" section-title="Baked"></food-section>
				<food-section section="foods.vegetables" section-title="Vegetables"></food-section>
				<food-section section="foods.fruits" section-title="Fruits"></food-section>
				<food-section section="foods.snacks" section-title="Snacks"></food-section>
				<food-section section="foods.nuts" section-title="Nuts"></food-section>
				<food-section section="foods.mixed" section-title="Mixed"></food-section>
				<food-section section="foods.bread" section-title="Bread"></food-section>
				<food-section section="foods.diary" section-title="Diary"></food-section>
				<food-section section="foods.beverages" section-title="Beverages"></food-section>
				<food-section section="foods.misc" section-title="Misc"></food-section>
				<food-section section="foods.fastfoods" section-title="Fast Foods"></food-section>
				<div class="empty-results" ng-if="!someResults">Sorry, no items found</div>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="well meal-pnl">
			<div class="meal-title">Your meal so far...</div>
			<div class="meal-empty" ng-hide="meal.items.length">
				<p>
					Search for things to add to your meal.
					<br>
					You can also search for snacks and drinks.
				</p>
			</div>
			<div class="meal-items">
				<div ng-repeat="item in meal.items" ng-click="showDetails()">
					<meal-item item="item" meal-index="$index"></meal-item>
				</div>
			</div>
			<div class="meal-metrics" ng-show="meal.items.length">
				<div>Total Calories: {{getTotal('energy_kcal')}}</div>
				<div>Total Fat: {{getTotal('total_fat_g')}}</div>
				<div>Total Sodium: {{getTotal('sodium_mg')}}</div>
				<div>Total Protein: {{getTotal('protein_g')}}</div>
			</div>
			<div class="meal-ops" ng-show="meal.items.length">
				<button type="button" class="op btn btn-success btn-sm" ng-click="checkScore()">Add Meal</button>
			</div>	
		</div>
	</div>
</div>

<div class="modal fade" id="check-score-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Meal Score</h4>
      </div>
      <div class="modal-body">
      	<div class="well">
      		<img class="meal-score-icon" ng-if="meal.score > 0" src="images/good.png">
      		<div class="meal-score-desc" ng-if="meal.score > 0">Great!<br>This is a nutrious meal.</div>

      		<img class="meal-score-icon" ng-if="meal.score === 0" src="images/neutral.png">
      		<div class="meal-score-desc" ng-if="meal.score === 0">Good start, but you can do better. Go back and try looking for more nutrious items.</div>

      		<img class="meal-score-icon" ng-if="meal.score < 0" src="images/sad.png">
      		<div class="meal-score-desc" ng-if="meal.score < 0">This meal doesn't look so nutrious. Try replacing some items with more nutrious choices.</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      	<button type="button" class="op btn btn-success" ng-click="addMeal()">Add Meal</button>
      </div>
    </div>
  </div>
</div>